.title {
    font-family: 'Major Mono Display', serif;
}

.footer-buttons{
    font-size: 1rem;
}

.footer {
    text-align:center;
    margin-top: 2rem;
}

.header {
    text-align:center;
    margin-top: 2rem;
}